QUESTION-4

Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("country_vaccination_stats.csv")

In [3]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [5]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
df.vaccines.unique()

array(['Sputnik V', 'Pfizer/BioNTech', 'Pfizer/BioNTech, Sinopharm',
       'Sinovac', 'Moderna, Pfizer/BioNTech', 'CNBG, Sinovac',
       'Oxford/AstraZeneca, Pfizer/BioNTech', 'Covaxin, Covishield',
       'Pfizer/BioNTech, Sinopharm, Sputnik V', 'Sinopharm'], dtype=object)

In [7]:
df.daily_vaccinations.unique()

array([   nan, 15656., 11070., ..., 15148., 17371., 17063.])

In [8]:
df.country.unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

In [9]:
df.country.value_counts()

Northern Ireland        43
Scotland                43
Wales                   43
Canada                  43
Israel                  38
China                   37
United States           37
United Kingdom          36
England                 36
Mexico                  33
Chile                   33
Lithuania               32
Denmark                 30
Italy                   30
Russia                  30
Switzerland             30
Czechia                 30
Greece                  29
Norway                  29
Bahrain                 29
Latvia                  29
Romania                 29
Estonia                 29
Germany                 29
Portugal                29
Oman                    28
Argentina               28
Bulgaria                28
Hungary                 28
Poland                  28
Malta                   28
Iceland                 27
Croatia                 27
Belgium                 26
Luxembourg              26
Costa Rica              26
Finland                 26
Ireland                 25
Sweden                  22
Spain                   22
Slovenia                22
France                  22
United Arab Emirates    21
Austria                 20
Serbia                  18
Slovakia                18
Cyprus                  17
Netherlands             17
Seychelles              15
Gibraltar               15
Indonesia               14
Turkey                  13
Singapore               12
Saudi Arabia            12
India                   11
Brazil                  10
Panama                   6
Isle of Man              5
Ecuador                  2
Kuwait                   1
Name: country, dtype: int64

In [10]:
df.date.value_counts()

1/16/2021     55
1/17/2021     55
1/15/2021     54
1/13/2021     54
1/21/2021     53
1/18/2021     53
1/14/2021     53
1/20/2021     53
1/12/2021     53
1/19/2021     53
1/11/2021     52
1/10/2021     51
1/22/2021     51
1/9/2021      50
1/8/2021      49
1/7/2021      48
1/6/2021      48
1/23/2021     46
1/5/2021      45
1/24/2021     45
1/4/2021      43
1/3/2021      40
1/1/2021      39
12/31/2020    39
1/2/2021      39
12/30/2020    37
12/29/2020    34
12/28/2020    33
1/25/2021     27
12/27/2020    23
12/25/2020    16
12/26/2020    16
12/24/2020    15
12/23/2020    12
12/21/2020    10
12/20/2020    10
12/22/2020    10
12/19/2020     7
12/18/2020     6
12/17/2020     6
12/16/2020     6
12/15/2020     6
12/14/2020     4
12/13/2020     3
Name: date, dtype: int64

In [11]:
df["min_vaccinations"]=df.groupby("country")["daily_vaccinations"].transform(lambda x: x.min())

In [12]:
df.head()

     country        date  daily_vaccinations   vaccines  min_vaccinations
0  Argentina  12/29/2020                 NaN  Sputnik V            6483.0
1  Argentina  12/30/2020             15656.0  Sputnik V            6483.0
2  Argentina  12/31/2020             15656.0  Sputnik V            6483.0
3  Argentina    1/1/2021             11070.0  Sputnik V            6483.0
4  Argentina    1/2/2021              8776.0  Sputnik V            6483.0

In [13]:
df.daily_vaccinations.fillna(df.min_vaccinations, inplace=True)

In [14]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
min_vaccinations      1
dtype: int64

In [17]:
df.fillna(0, inplace=True)

In [18]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
min_vaccinations      0
dtype: int64

In [19]:
df.drop(columns="min_vaccinations", inplace=True)

In [20]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

QUESTION-5

Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
Please  provide the link to your code as answer to this question.

In [21]:
df.groupby("country")["daily_vaccinations"].median().sort_values(ascending=False).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

QUESTION-6

What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [22]:
df[df["date"]=="1/6/2021"].daily_vaccinations.sum()

1485255.0

QUESTION-8

Assume any database includes below columns and you are requested to process Stats_Access_Link column and extract pure url information inside per device type. 

    Rules: 
-   Xml tags and protocol parts is guaranteed to be lower case  
-   Access link part that we are interested in can have alpha-numeric, case insensitive characters, underscore ( _ ) character and dot ( . ) character only.  

What would you use for this task, please write your detailed answer with exact solution? Please  provide the link to your code as answer to this question

In [18]:
import pandas as pd
import re
s = "<url>http://xcd32112.smart_meter.com</url>"
s.lstrip("http://").rstrip("</url>")

df = pd.DataFrame({"Devide_Type":["AXO145","TRU151","ZOD231","YRT326","LWR245"],
                   "Stats_Access_Link": ["<url>http://xcd32112.smart_meter.com</url>","<url>http://tXh67.dia_meter.com</url>",
                                         "<url>http://yT5495.smart_meter.com</url>","<url>http://ret323_TRu.crown.com</url>",
                                         "<url>http://luwr3243.celcius.com</url>"]})
for i in df.Stats_Access_Link:
    print(i.lstrip("<url>http:").rstrip("</url>").replace("//",""))

xcd32112.smart_meter.com
tXh67.dia_meter.com
yT5495.smart_meter.com
ret323_TRu.crown.com
luwr3243.celcius.com